<!doctype html>
<html lang="en" ng-app="HackathonReg">
<head>

    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>Amita Hackathon Registration</title>

    <link href="apple-touch-icon-precomposed.png" rel="apple-touch-icon">
    <link href="favicon76.png" rel="apple-touch-icon" sizes="76x76">
    <link href="favicon120.png" rel="apple-touch-icon" sizes="120x120">
    <link href="favicon152.png" rel="apple-touch-icon" sizes="152x152">

    <meta property="og:title" content="Internet of Things Hackathon">
    <meta property="og:url" content="http://www.iotwf.com/hackathon/register.html">
    <meta property="og:type" content="http://www.iotwf.com/hackathon/register.html" />
    <meta property="og:image" content="http://assets.jaguarsites.com.s3.amazonaws.com/cisco/2014/iot/assets/IoT%20Logo/Color/PNG/IoT_logo_1line.png">
    <meta property="og:site_name" content="Internet of Things">

    <link href='http://fonts.googleapis.com/css?family=Ubuntu:700' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Roboto:100,300,700' rel='stylesheet' type='text/css' />
    
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" type="text/css" media="all" />
    <link rel="stylesheet" href="assets/css/animate.css" type="text/css" media="all" />
    <link rel="stylesheet" href="assets/css/font-awesome.min.css" type="text/css" media="all" />
    <link rel="stylesheet" href="assets/css/font-lineicons.css" type="text/css" media="all" />
    <link rel="stylesheet" href="assets/css/jquery.fancybox.css" type="text/css" media="all" />
    <link rel="stylesheet" href="assets/css/style2.css" id="mainstyle" type="text/css" media="all" />
	<link rel="stylesheet" href="assets/css/toastr.min.css" type="text/css" media="all" />

    
    <!--[if lt IE 9]>
        <script src="assets/js/html5.js"></script>
        <script src="assets/js/respond.min.js"></script>
    <![endif]-->
</head>

<body id="index" class="register-page">

    <header id="mobileheader" class="navigation-bar-header light visible-xs"></header>
    <!-- Hero Section -->
    <section id="hero" class="light">
      <div class="container">
      	<div class="home-bg">

          <div class="hero-content text-center">

              <div class="container">

                  <div class="row" ng-controller="RegFormController as reg">

                      <div class="col-md-12">

                          <h4 ng-if="reg.showGeneralRegistration">
                              Sign up below!
                          </h4>

                          <h6 ng-if="reg.showGeneralThankYou">
                              Thanks for registering! We'll send you updates at
                              <span ng-bind="::reg.interestedEmail"></span>
                          </h6>

                          <div ng-if="reg.showTeamRegistration">
                              <h6>
                                  Hi Professor!
                              </h6>
                              <h6>
                                  You will be redirected shortly.
                              </h6>
                          </div>

                      </div>

                      <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">

                          <form ng-if="reg.showGeneralRegistration"
                                name="reg.interestedForm"
                                class="form form-register"
                                novalidate >

                              <div class="form-group">

                                  <label for="interestedEmail"
                                         class="col-sm-3 col-xs-12 control-label"
                                         ng-bind="::'Email'">
                                  </label>

                                  <div class="col-sm-9 col-xs-12">

                                      <input type="text"
                                             class="form-control"
                                             id="interestedEmail"
                                             name="interestedEmail"
                                             placeholder="yourEmail@university.edu"
                                             ng-model="reg.interestedEmail"
                                             ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/"
                                             ng-required="true" />

                                      <div ng-messages="reg.interestedForm.interestedEmail.$error"
                                           ng-if="reg.interestedForm.interestedEmail.$dirty && reg.interestedForm.interestedEmail.$touched">
                                          <div ng-message="required"
                                               ng-if="reg.interestedForm.interestedEmail.$error.required"
                                               ng-bind="::'Your email is required'">
                                          </div>
                                          <div ng-message="pattern"
                                               ng-if="reg.interestedForm.interestedEmail.$error.pattern"
                                               ng-bind="::'Your email is invalid'">
                                          </div>
                                      </div>

                                  </div>

                              </div>

                              <button class="btn btn-primary btn-sm btn-block"
                                      ng-class="{ 'disabled': reg.interestedForm.$invalid }"
                                      ng-click="reg.submitInterestedEmail()"
                                      ng-bind="::'Register!'">
                              </button>
                              
                          </form>

                      </div>

                  </div>

              </div>

          </div>
        </div>
      </div>
    </section> 
    <!-- End Hero Section -->

    <!--[if lt IE 9]>
        <script type="text/javascript" src="assets/js/jquery-1.11.0.min.js?ver=1"></script>
    <![endif]-->  
    <!--[if (gte IE 9) | (!IE)]><!-->  
        <script type="text/javascript" src="assets/js/jquery-2.1.0.min.js?ver=1"></script>
    <!--<![endif]-->

    <script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="assets/js/jquery.nav.js"></script>
    <script type="text/javascript" src="assets/js/jquery.appear.js"></script>
    <script type="text/javascript" src="assets/js/jquery.countTo.js"></script>
    <script type="text/javascript" src="assets/js/waypoints.min.js"></script>
    <script type="text/javascript" src="assets/js/waypoints-sticky.min.js"></script>
    <script type="text/javascript" src="assets/js/jquery.fancybox.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-messages.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/1.2.0/angularfire.min.js"></script>

    <script type="text/javascript" src="assets/js/scripts.js"></script>
</body>
</html>